
/*css styles btnSpinner o button loadding*/
.btnSpinner{
    width: 14.01px;
    height: 13.33px;
    animation-name: spinnerBtnLoad;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinnerBtnLoad {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@-webkit-keyframes spinnerBtnLoad {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

/*dataTables_paginate*/
.dataTables_paginate .pagination .paginate_button a{
    padding: 10px;
    font-weight: bolder;
}



h2.swal2-title{
   font-family: 'Open Sans', sans-serif !important;
}

/*diseño table > head*/
table.table > thead tr th{
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
/*end*/


.list_search li a:hover{
    background-color: #f4f4f4;
    cursor: pointer;
}
.list_search li a{
    cursor: pointer;
    padding: 3px;
}
.list_search{
    padding-left:40px ;
    padding-right:40px ;
}

.select2-selection__choice{
    margin-top: 3px !important;
    border-radius: 0px !important;
}


.disabled_link3 {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.7;
    text-decoration: none;
    pointer-events: none;
}

li.Active_link {
    background-color: #1e282c !important;
    color: #f8f8f8 !important;
    /*border-left: 3px solid #3c8dbc !important;*/
}

.Active_link_subM {
    color: #f8f8f8 !important;
}

.swal2-content{
    font-size: 1.4rem!important;
}

.btnhover{
    cursor: pointer;
}
.btnhover:hover{
    background-color: #e9edf2;
}

/*trunc la letra con  puntos ...
trunquea la letra que no entra en un contenedor
*/
.trunc{
    width:250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Modal diseño personalizado*/
.modal-diseng{
    background-color: #212f3d !important;
    color: #ffffff;
}


/*contenedor centro col bootstrap*/
.col-centered{
    float: none;
    margin: 0 auto;
}

.conten-load{
    position: absolute;
    background-color: rgba(144, 213, 247, 0.5);;
    width: 100%;
    height: 100%;
    z-index: 3000;

}

.cargando{
    display: block !important;
}


/**loadding cargar principal box*/
.Elementboxloading{
    width: 100%;
    margin-left: 49.5%;
}
/*END LOADDING*/

.modal-header {
    padding: 5px !important;
}

.table tr td{
    padding: 4px !important;
}

/*LOADDING*/
.loader_odontic {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #212f3d;
    border-bottom: 10px solid #212f3d;
    width: 30px;
    height: 30px;
    -webkit-animation: spin_loadding 0.7s linear infinite;
    animation: spin_loadding 0.7s linear infinite;
}

@-webkit-keyframes spin_loadding {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin_loadding {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*LOADDING TABLE*/

